@import "@/scss/variables";
@import "@/scss/mixins";

.btn-filter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  justify-items: stretch;
  align-items: center;
  text-align: center;

  @include mixinBreakpoints(md) {
    grid-template-columns: repeat(4, 1fr);
  }

  a {
    cursor: pointer;
    border-radius: 6px;
    padding: 7px 12px;
    color: $globalPrimaryColor;
    font-weight: 600;
    font-size: 14px;
    background: $w;
    @include hoverBorder();

    &.active {
      cursor: default;
      border-radius: 6px;
      background: #433b90;
      padding: 7px 12px;
      color: $w;
    }
  }
}
.tooltip {
  outline: none;
}
