@import "../../scss/colors";
@import "../../scss/mixins";

.container {
  display: flex;
  margin: calc($spaceBetweenMainArticleAndOthersForMainPageBlog / 2) 0;
  gap: 5px;
}

.btn {
  @include btnBlog;
}

.actif {
  font-style: italic;
  background-color: $globalPrimaryColor;
  color: $w;
}
