@import "../../scss/variables";
@import "../../scss/mixins";

.container {
  display: flex;
  flex-direction: column;
  margin: calc($spaceBetweenMainArticleAndOthersForMainPageBlog / 2) 0;
  gap: 5px;
  flex-wrap: wrap;

  @include mixinBreakpoints(xs) {
    flex-direction: row;
  }
}

.btn {
  @include btnBlog;
}

.actif {
  font-style: italic;
  background-color: $globalPrimaryColor;
  color: $w;
}
