@import "../colors";
@import "../mixins";

.header {
  margin: -$padding-main;
  margin-top: calc(-#{$padding-main} - $margin-nav-bar);
  position: relative;

  @include mixinBreakpoints(sm) {
    margin: -$padding-main-sm;
    margin-top: calc(-#{$padding-main-sm} - $margin-nav-bar);
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to top,
      rgba(28, 28, 28, 0.5) 37%,
      rgba(28, 28, 28, 0.1) 53%
    );
    pointer-events: none;
  }
}

@include mainImageBlog();

.headerContent {
  position: absolute;
  bottom: 0;
  color: #ffffff;
  z-index: 1;
  padding: 0 1rem 2rem 1rem;

  @include mixinBreakpoints(sm) {
    padding: 0 3rem 2rem 3rem;
  }
}

.backLink {
  color: #ffffff;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
  transition: 0.3s ease;
  display: inline-flex;
  align-items: center;
  border-radius: 0.375rem;
  gap: 5px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.3s ease;
  }

  @include mixinBreakpoints(md) {
    padding: 0.5rem 1rem 0.5rem 0.75rem;
  }
}
.backText {
  display: none;
}
@include mixinBreakpoints(md) {
  .backText {
    display: block;
  }
}

.title {
  font-weight: 700;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;

  @include mixinBreakpoints(sm) {
    font-size: 2.4rem;
  }
}

.meta {
  font-size: 0.875rem;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;

  @include mixinBreakpoints(md) {
    gap: 1.5rem;
  }
}

.heroImage {
  margin-bottom: 3rem;
  border-radius: 6px;
  overflow: hidden;
}

.content {
  font-size: 1.125rem;
  line-height: 1.7;
  margin-bottom: 4rem;
  margin-top: 5rem;

  @include mixinBreakpoints(md) {
    margin-top: 6rem;
  }

  p,
  li {
    line-height: normal;
    margin-bottom: 0.5rem;

    li {
      margin-bottom: 0.25rem;
    }
  }

  h2 {
    margin: 2rem 0 0.5rem;
  }

  ul,
  ol {
    margin-left: 2rem;
  }

  li {
    list-style-type: auto;
  }

  a {
    width: fit-content;
    display: inline-block;
    @include underlineLink();
  }
}

.related {
  h2 {
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
  }
}

.relatedGrid {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.relatedCard {
  background: #222;
  border-radius: 8px;
  color: #eee;
  text-decoration: none;
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s ease;

  &:hover {
    background: #333;
  }
}

.relatedImageWrapper {
  width: 100%;
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.relatedImage {
  object-fit: cover;
  width: 100%;
  height: 150px;
}

.relatedContent {
  padding: 1rem 1.25rem 1.5rem;
}

.relatedCategory {
  font-size: 0.75rem;
  color: #999;
  margin-bottom: 0.4rem;
}

.relatedTitle {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
}

.relatedExcerpt {
  font-size: 0.9rem;
  color: #ccc;
}

.posts {
  @include posts();
}
