@import "../variables";
@import "../mixins";

.heroImage {
  margin-bottom: 3rem;
  border-radius: 6px;
  overflow: hidden;
}

.contentWrapper {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin-top: 5rem;
}

.tocWrapper {
  display: none;
  @include mixinBreakpoints(lg) {
    width: 280px;
    display: block;
  }
}

.content {
  font-size: 1.125rem;
  line-height: 1.7;
  margin-bottom: 4rem;
  flex: 1;
  min-width: 0;

  p,
  li {
    line-height: normal;
    margin-bottom: 0.5rem;

    li {
      margin-bottom: 0.25rem;
    }
  }

  h2 {
    margin: 5rem 0 0.5rem;
    scroll-margin-top: $margin-nav-bar;
  }

  h3 {
    margin: 2.5rem 0 0.5rem;
    scroll-margin-top: $margin-nav-bar;
  }

  h4 {
    scroll-margin-top: $margin-nav-bar;
  }

  ul,
  ol {
    margin-left: 2rem;
  }

  li {
    list-style-type: auto;
  }

  a {
    width: fit-content;
    display: inline-block;
    @include underlineLink();
  }
}

.related {
  h2 {
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
  }
}

.relatedGrid {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.relatedCard {
  background: #222;
  border-radius: 8px;
  color: #eee;
  text-decoration: none;
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s ease;

  &:hover {
    background: #333;
  }
}

.relatedImageWrapper {
  width: 100%;
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.relatedImage {
  object-fit: cover;
  width: 100%;
  height: 150px;
}

.relatedContent {
  padding: 1rem 1.25rem 1.5rem;
}

.relatedCategory {
  font-size: 0.75rem;
  color: #999;
  margin-bottom: 0.4rem;
}

.relatedTitle {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
}

.relatedExcerpt {
  font-size: 0.9rem;
  color: #ccc;
}

.posts {
  @include posts();
}
