@import "../variables";
@import "../mixins";

.header {
  text-align: center;
  margin-bottom: 4rem;
}

.label {
  font-size: 0.75rem;
  margin-bottom: 4rem;
  letter-spacing: 0.1em;
  font-weight: 500;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  line-height: 1;
}

.subtitle {
  font-weight: 400;
}

.linkedin-link {
  @include btnBlog;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(
      270deg,
      #ff008028,
      #7928ca28,
      #2afadf28,
      #ff008028
    );
    background-size: 600% 600%;
    border-radius: inherit;
    animation: move-border 8s ease infinite;
  }
}

@keyframes move-border {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.posts {
  @include posts;
}

.postCard {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  @include mixinBreakpoints(md) {
    flex-direction: row;
  }
}

.postImage {
  width: 100%;
  height: 13rem;
  object-fit: cover;
  border-radius: 0.75rem;

  @include mixinBreakpoints(md) {
    width: 50%;
  }
}

.postContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.arrow {
  margin-top: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  color: #34d399;
  display: inline-block;
}

.comingSoonImage {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.75rem;

  span {
    font-size: 1.5rem;
    font-weight: 500;
    color: #666;
  }
}

.loadMore {
  @include btnBlog;
  padding: 0.75rem 1.5rem;
  border: 1px solid $globalPrimaryColor;
  margin: 0 auto;
  width: fit-content;

  &:hover {
    background-color: $globalPrimaryColor;
    color: $w;
  }
}
