@import "../colors";
@import "../mixins";

.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("../../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 75px;
  min-height: 65vh;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}