@import "../colors";
@import "../mixins";

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: calc(100vh - 6rem - 80px);

  @include mixinBreakpoints(sm) {
    width: 50vw;
    justify-content: center;
    margin-top: 0;
  }

  div {
    margin: 5px 0;
  }

  h1 {
    text-transform: initial;
    width: 100%;
    font-weight: 500;
    margin-bottom: 10px;
  }

  h2 {
    margin: 0;
    text-align: start;
    font-size: 26px;
    font-weight: 400;
    text-transform: initial;
  }

  a {
    display: inline-block;

    @include underlineLink();
  }
}
