@import "../variables";
@import "../mixins";

.content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem 1.5rem;
  margin-top: 6rem;

  @include mixinBreakpoints(md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mixinBreakpoints(lgx) {
    grid-template-columns: repeat(3, 1fr);
  }

  iframe {
    width: 100%;
    border: none;
    border-radius: 8px;
  }
}
