@import "../../scss/colors";
@import "../../scss/mixins.scss";

.header {
  margin: -$padding-main;
  margin-top: calc(-#{$padding-main} - $margin-nav-bar);
  position: relative;

  @include mixinBreakpoints(sm) {
    margin: -$padding-main-sm;
    margin-top: calc(-#{$padding-main-sm} - $margin-nav-bar);
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to top,
      rgba(28, 28, 28, 0.5) 37%,
      rgba(28, 28, 28, 0.1) 53%
    );
    pointer-events: none;
  }
}

@include mainImageBlog();

.headerContent {
  position: absolute;
  bottom: 0;
  color: #ffffff;
  z-index: 1;
  padding: 0 1rem 2rem 1rem;

  @include mixinBreakpoints(sm) {
    padding: 0 3rem 2rem 3rem;
  }
}

.backLink {
  color: #ffffff;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
  transition: 0.3s ease;
  display: inline-flex;
  align-items: center;
  border-radius: 0.375rem;
  gap: 5px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.3s ease;
  }

  @include mixinBreakpoints(md) {
    padding: 0.5rem 1rem 0.5rem 0.75rem;
  }
}
.backText {
  display: none;
}

@include mixinBreakpoints(md) {
  .backText {
    display: block;
  }
}

.title {
  font-weight: 700;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;

  @include mixinBreakpoints(sm) {
    font-size: 2.4rem;
  }
}

.meta {
  font-size: 0.875rem;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;

  @include mixinBreakpoints(md) {
    gap: 1.5rem;
  }
}
