@import '@/scss/colors';
@import '@/scss/mixins';

$marginSquareInfo: 15%;
$marginSquareInfoXS: 2%;

.square-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.062745098);
  border-radius: 10px;
  padding: 15px;
  gap: 10px;
  width: fit-content;
  max-width: 30%;
  height: fit-content;
  position: absolute;
  top: 0;

  @include mixinBreakpoints(sm){
    max-width: min-content;
  }

  @include mixinBreakpoints(lg){
    max-width: 45%;
  }
  

  &:nth-child(1) {
    animation: levitationY 6s linear infinite;
    left: $marginSquareInfo;
    top: 15%;

    @include mixinBreakpoints(xs){
      left: $marginSquareInfoXS;
      top: 15%;
    }

    @include mixinBreakpoints(lg){
      left: $marginSquareInfoXS;
      top: 20%;
    }
  }


  &:nth-child(2) {
    animation: levitationX 6s linear infinite;
    right: $marginSquareInfo;
    top: 35%;

    @include mixinBreakpoints(xs){
      right: $marginSquareInfoXS;
      top: 30%;
    }

    @include mixinBreakpoints(lg){
      right: $marginSquareInfoXS;
      top: 40%;
    }
  }


  @keyframes levitationY {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes levitationX {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-10px);
    }
    100% {
      transform: translateX(0);
    }
  }


  .icon{
    font-size: 2.5em;
  }

  p{
    font-weight: 300;
    font-size: 0.9em;
  }

  .important{
    @include h1Style();
    // animation: levitation 500ms ease-in-out infinite;
  }

  // @keyframes levitation {
  //   0% {
  //     opacity: 0;
  //   }
  //   100% {
  //     opacity: 1;
  //   }
  // }



}