@import '@/scss/colors';
@import '@/scss/mixins';

$bkgColor: #f1f5f940;
$bkgColorHover: #f1f5f9;

.header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    background-color: $bkgColor;
    z-index: 1000;
    @include transition(.25s ease-in-out);
    backdrop-filter: blur(2px);

    &:hover {
        background: $bkgColorHover;
        @include transition(.25s ease-in-out);
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20%;

        @include mixinBreakpoints(xs) {
            gap: 45%;
        }
    }
}

.iconMenu {
    cursor: pointer;
    display: flex;
}

.navLink {
    display: flex;
    gap: 25px;

    a {
        font-size: 14px;
        font-weight: 600;

        &::after {
            content: '';
            height: 1.5px;
            display: block;
            background: $globalBlackColor;
            border-radius: 4px;
            transform-origin: right;
            transform: scaleX(0);
            @include transition(transform .3s ease-in-out);
        }

        &:hover::after {
            transform-origin: left;
            transform: scaleX(1);
        }
    }
}