@import "../../scss/colors";
@import "../../scss/mixins.scss";

.card {
  display: flex;
  flex-direction: column;
  border-radius: 0.75rem;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  text-decoration: none;
  color: inherit;
  gap: 1rem;

  @include mixinBreakpoints(xss) {
    flex-direction: row;
    gap: 0;
  }

  &:hover {
    transform: translateY(-4px);
  }
}

.image {
  object-fit: cover;
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;

  @include mixinBreakpoints(xss) {
    width: 50%;
    height: auto;
    min-height: 200px;
  }

  @include mixinBreakpoints(md) {
    min-height: 250px;
  }

  @include mixinBreakpoints(lg) {
    min-height: 300px;
  }
}

.iconWrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #fdfdfd;
  padding: 1rem;
}

.content {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;

  @include mixinBreakpoints(xss) {
    width: 50%;
    padding-left: 0.75rem;
  }
}

.meta {
  font-size: 0.875rem;
  margin-bottom: 0.5rem;

  @include mixinBreakpoints(md) {
    margin-bottom: 0.75rem;
  }
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
  line-height: 1;

  @include mixinBreakpoints(md) {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}
