@import '@/scss/colors';
@import '@/scss/mixins';

.btn-up {
    width: 40px;
    height: 40px;
    background: $globalPrimaryColorLighten;
    transition: .25s;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 3%;
    right: 2%;
    z-index: 1;
    cursor: pointer;

    &:hover {
        background: $globalPrimaryColor;
        transition: .25s;
        z-index: 3;
    }
}