@import '@/scss/colors';
@import '@/scss/mixins';

.navigation {
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: fixed;
    top: 37%;
    right: 3%;

    a {
        height: 12px;
        width: 12px;
        border-radius: 50%;
        border: 2px solid #B9B9B9;
        cursor: pointer;
        transition: .5s;

        &:hover {
            border: 2px solid $globalPrimaryColor;
            transition: .5s;
        }

        &.active {
            background-color: $globalPrimaryColorLighten;
            border: .5px solid $globalPrimaryColor;

            &:hover {
                background-color: $globalPrimaryColor;
            }
        }
    }
}
