$w: #ffffff;
$b: #000000;

$globalBkgColor: #f8f8f8;

$globalPrimaryColor: #433b90;
$globalPrimaryColorLighten: lighten(
  $color: $globalPrimaryColor,
  $amount: 40,
);
$globalBlackColor: #1d1d1d;

$lightBlue: #edf1f7;

$error: #a80000;

$margin-nav-bar: 80px;

$padding-main: 1rem;
$padding-main-sm: 3rem;

// ---------------

// $grayBackground:#F8F8F8;
// $grayPanel: #FAFAFA;
// $whiteElement:#fff;
// $blackText : #1D1D1D;

// $grayLight: #E2E2E2;
// $grayText : #737680;
// $grayTitle: #525252;
// $grayPlaceholder : #646464;
// $grayTable : #ebebeb;

// $grayDisabled : #696969;

// $lightOrangeHoll: #FFCAA4;
// $orangeHoll: #EE6603;
// $orangeHollHover: #d45800;
// $darkBlueHoll: #043C4E;

// $greenMagnard : #46913A;
// $redMagnard : #FF6969;
